body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background: #212529;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
/* Navbar */
.navbar-brand img {
  width: 30px !important;
  height: auto;
}

.navbar {
  position: fixed;
  z-index: 10;
  color: #ffffff;
  width: 100%;
  box-shadow: 0 0 1px #222;
  margin: 0px;
  padding: 0px;
  justify-content: center;

  backdrop-filter: blur(5px);
}
.nav__container {
  display: flex;
  width: 68%;
  height: auto;

  margin: 0 !important;

  vertical-align: middle;
}

.container-fluid {
  display: flex;
  text-align: left;
}
.row__navbar {
  width: 50%;
  margin: 0;
  justify-items: end !important;
  align-items: end;
}
.collapse {
  display: flex;
  width: 50%;
  margin: 0;
  text-align: right;
  align-items: start;
  justify-content: end;
  /* margin-left: 200px; */
}
.nav-link {
  transition: transform 0.5s ease;
}

.nav-link:hover {
  transform: scale(1.1);
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  width: 5%;
  height: auto;
}

#Carrusel {
  display: inline-flex;
  width: 100%;
  height: 500px;
  justify-content: center;
}
@media (max-width: 768px) {
  .navbar {
    width: 100%;
  }
.nav__container{
  display: flex;
  width: 100%;

}

.row__navbar {
  display: flex;
  width: 100%;
}
.navbar-collapse {
  display: block;
  margin: 0 !important;
  width: 30%;
}
.navbar-nav {
  align-items: start;
  margin: 0;
}

  .navbar .container-fluid {
    display: inline;
  }

  .navbar .container-fluid .logo img {
    width: 30px;
    height: auto;
  }

  .navbar .container-fluid .navbar-brand {
    margin-left: 0px !important;
  }

  .navbar .container-fluid .logo {
    text-align: left;
  }

  .navbar .container-fluid .botonav {
    text-align: right;
  }
  #Carrusel {
    height: 300px !important;
  }
  .carousel-inner img {
    display: block;
    height: 300px !important;
    // object-fit: cover;
    border-radius: 20px;
  }
  .featured__container {
    width: 90% !important;
  }
  .featured__row {
    margin: auto !important;
  }
  .card {
    padding: 0;
    margin: auto;
    width: 100% !important;
    height: auto;
  }
  .section__contacto .row {
    display: flex;
    margin: 0 !important;
    padding: 0;
    width: 100% !important;
    color: #ffffff;
    text-align: left;
  }

  .aboutus__image--size {
    display: none;
  }
}
.container {
  text-align: center;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.carousel {
  width: 100%;
  object-fit: cover;
}

.carousel-inner img {
  display: block;
  height: 500px;
  // object-fit: cover;
  border-radius: 20px;
}

// Sección about us
.aboutus {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.aboutus__title--color {
  color: #ffffff;
}
.aboutus hr {
  border: 1px solid #ffffff;
}
.aboutus__container {
  width: 68%;
}

.row__aboutus {
  display: flex;
  width: 100%;
  align-items: start;
}

.aboutus__image--size {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.aboutus__parrafo--color {
  color: #ffffff;
  text-align: left;
}
// Featured
.featured {
  display: flex;
  justify-content: center;
}

.featured__container {
  width: 68%;
}

.featured__row {
  display: flex;
  width: 100%;
  justify-content: center;
}
.card {
  padding: 0;
  width: 45%;
  margin: 20px;
  height: auto;
}
.card__img {
  object-fit: cover;
}
.img-fluid {
  width: 100%;
  min-height: 200px;
  height: auto;
}

.card-body {
  text-align: left;
  vertical-align: middle;
}
.card-body span {
  margin-left: 10px;
}
.card-text__vuelo {
  display: flex;
  justify-items: center;
}
.card__text--format {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 30px;
}
.card__text--format .card-text__valor {
  margin-left: 100px;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 500;
}
.featured .card-body hr {
  border: 1px solid #bdb8b8;
}

.aboutus__title--color {
  margin-top: 50px;
}

.featured hr {
  border: 1px solid #ffffff;
}

//Inicio seccion Contacto

.section__contacto {
  margin: 50px;
}

.contacto__title {
  color: #ffffff;
}
.section__contacto hr {
  border: 1px solid #ffffff;
  width: 68%;
  margin: auto;
}
.section__contacto .row {
  display: flex;
  margin: auto;
  width: 68%;
  color: #ffffff;
  text-align: left;
}

.col_contacto {
  margin: 0;
  padding: 0;
}

.row__contacto {
  margin: 0px !important;
  width: 100% !important;
  text-align: left;
}

.col__der {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col__der i {
  margin-top: 30px;
}

.col__der span {
  font-family: "Rubik", sans-serif;
  margin-left: 20px;
  font-weight: 300;
}

/* Footer */
#pie {
  width: 100%;
  background: #03c0f0;
  vertical-align: middle;
}

#pie a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

#pie i {
  transition: transform 0.5s ease;
}

#pie i:hover {
  transform: scale(1.1);
}
